 #slider{
  /*width:569px;*/
  width:748px;
  margin-top:250px;
  display: inline-block;
  float: left;
  position: relative;
  margin-left:50px;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none; 
}
.sundayCircleBox{
  display:inline-block;
  position:absolute;
  height:6px;
}
.sundayCircle{
  display:inline-block;
  width: 11px;
  height: 11px;
  border-radius: 6px;
  position: absolute;
  left: -6px;
  background-color: #8cbecd;
  top:2px;
}
.sundayTag{
  color: white;
  font-size: 12px;
  position: absolute;
  color:#8cbecd;
  bottom: -27px;
}
.lastSunday .sundayCircleBox{
  right:0;
}
.lastSunday .sundayCircle{
  left:-5px;
  right:-6px;
}
.rangeSlider-arrow{
  display: inline-block;
  position: relative;
  margin-left:15px;
  float: left;
  padding-top: 40px;
  width:58px;
  left: 569px;
  top: -10px;
  padding: 0;
}
.arrow{
  background: url(../image/leftRightButton.png) no-repeat;
  width: 25px;
  height: 25px;
  display: inline-block;
  margin:5px 2px 0 2px;
  top:-15px;
  cursor: pointer;
}
.rightArrow{

  left:-20px;
  background-position: -25px -24px;
}
.rightArrow-disabled{
  background-position: 0px 0px;
}
.leftArrow{

  right: -40px;
  background-position: -25px 0px;
}
.leftArrow-disabled{
  background-position: 0px -24px;
}
.wrap{
  display: inline-block;
}
#selectionWrap{
  position: relative;
/*  height:66px;*/
  padding-left:7px;
  left: 568px;
  padding-top: 0;
  top: -4px;
}
#selectionWrap select{
  /*position: absolute;*/
  display: none;
  right:-60px;
}
.barWrap{
  position:absolute;
  height:9px;
  top:0;
  left:0;
}
.bar{
  height:3px;
  position: absolute;
  /*background-color: #e8d66a;*/
  bottom: -6px;
  cursor: pointer;
  z-index: 98;
  padding: 6px 0;
  width:100%;
}
.bar-inner{
  background-color: #e8d66a;
  height:3px;
}
.handle{
  height:11px;
  width:11px;
  /*border-radius: 6px;*/
  position: absolute;
  /*background-color: #e8d66a;*/
  bottom: -4px;
  cursor: pointer;
  z-index: 99;
}
.handle-inner{
  height:11px;
  width:11px;
  border-radius: 6px;
  background-color: #e8d66a;
}
.label-wrap {
  position: relative;
  min-width: 100px;
}
.handle-label{
  background-color: #8cbecd;
  width:44px;
  height:21px;
  position: absolute;
  top:-40px;
  border-radius: 2px;
}
.leftHandle-label {
  left:-22px;
}
.rightHandle-label {
  right:-22px;
}
.leftHandle-label-close{
  right: 0px;
  left: initial;
}
.rightHandle-label-close{
  left: initial;
}
.leftHandle {
  left: -6px;
}
.rightHandle {
  right: -6px;
}
.label-triangle{
  border: 7px solid transparent;
  border-bottom: 0px;
  border-top: 6px solid #8cbecd;
  position: absolute;
  bottom: -6px;
  left: 15px;
}
.label-value{
  height:9px;
  width:34px;
  padding: 4px 5px;
  color: #fff;
  text-align:center;
  font-size:12px;
}
.handle-label{
  /*display: none;*/
}
.arrowIsHovering{
  width: 17px;
  height: 17px;
  background:url(../image/red-pot.png);
  position: absolute;
  left:-3px;
  top:-3px;
}
.block{
  float: left;
}
#scaleWarp{
  position: absolute;
}
#rangeWrap{
  position: absolute;
  display: block;
  width: 100%;
  height:6px;
  top: 6px;
  left:0;
}

.selectionWrap{
  position: relative;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none; 
}
.selectButton{
  background-color: #cbe5e2;
  box-shadow: 1px 1px 2px #004a62;
  display: inline-block;
  opacity: 0.8;
  width:65px;
  height:21px;
  cursor: pointer;
}
.selectLabel{
  width:55px;
  height:21px;
  display:inline-block;
  float:left;
}
.selectLabel-value{
  color:#518789;
  font-size: 12px;
  padding:4px 0;
  text-align:center;
  height:14px;
}
.selectLabel-arr-wrap{
  width:10px;
  height:21px;
  display:inline-block;
  float: left;
}
.selectLabel-arr-inner{
  margin: 7px 6px 7px -1px;
  border: 4px solid transparent;
  border-top: 0;
  border-bottom: 5px solid #669999;
}
.selection-list-wrap{
  background-color:rgba(140,190,205,0.45);
  overflow: hidden;
  display:inline-block;
  width:65px;
  height:144px;
  position: absolute;
  left:0;
  /*bottom:21px;*/
  display:none;
}
.selection-list{
  position: relative;
}
.selection-list-inner{
  position: absolute;
  /*top:-60px;*/ 
}
.selection-list-item{
  font-size:12px;
  padding:5px 12px 5px 9px;
  height:14px;
  color:#fff;
  cursor: pointer;
}
.selection-list-item-active{
  background-color:rgba(140,190,205,0.45);
}
.selection-list-scroll{
  height:144px;
  width: 3px;
  position: absolute;
  right:0;
  top:0;
}
.selection-list-scroll-inner{
 
  height:60px;
  position: absolute;
  /*top: 30px;*/
  right:0px;
  width:3px;
  padding-left: 9px;
  cursor: pointer;
}
.selection-list-scroll-body{
  background-color: #669999;
  width:3px;
  height:100%;
  border-radius:4px;

}